<div id="game"> <!-- included so we can call it from ajax: $('#game').html(msg); -->

  <%if @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <%elsif @winner %>
    <div class="alert alert-success"><%=@winner%></div>  
  <% end %>

  <h1>Blackjack!</h1>

  <p>Welcome <%= session[:player_name] %></p>

  <% if @play_again %>
    <p>
      <strong>Play again?</strong>
      <a href ="/bet" class="btn btn-primary">Yes</a>
      <a href ="/game_over" class="btn">No</a>
    </p>
  <% end %>

  <div class="well" id="dealer_area">
    <h4>Dealer's cards:</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != "dealer" && i == 0 %>
        <img src='/images/cards/cover.jpg' class='card_image'>
      <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>

    <% if @show_dealer_hit_button %>
      <p>
      <h5>Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit </h5>
        <form id="dealer_hit_form" action ='/game/dealer/hit' method='post'>
        <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;'/>
        </form>
      </p>
    <% end %>
  </div>

  <br/>
  <div class="well" id="player_area">
    <h4>Player's cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
  </div>
  
  <p>
    <%= session[:player_name] %> has $<%= session[:player_pot] %> and bet $<%= session[:player_bet] %> this round. <%= session[:player_name]%>'s cards add up to <%=calculate_total(session[:player_cards]) %>.
    <% if @show_hit_or_stay_buttons %>
         <h4> What would <%= session[:player_name] %> like to do? </h4>
      <form id="hit_form" action="/game/player/hit" method="post">
        <input type="submit" class="btn btn-success btn-large" value="Hit"/>
      </form>
      <form id="stay_form" action="/game/player/stay" method="post">
        <input type="submit" class="btn btn-warning btn-large" value="Stay"/>
      </form>
    <% end %>
  </p>
</div>